This is an example of how to name your variables when exporting API keys from your .env file

DISCORD_TOKEN=your_api_key_here
DISCORD_API_SECRET=your_api_secret_here

OPENAI_API_KEY=your_api_key_here
OPENAI_API_SECRET=your_api_secret_here

