This is an example of how to name your variables when exporting API keys from your .env file

DISCORD_TOKEN=[TOKEN]
CLIENT_ID=Your application's client id (Discord Developer Portal > "General Information" > application id)
GUILD_ID=Your development server's id (Enable developer mode > Right-click the server title > "Copy ID")
